{%extends 'soapp/base.html'%}
{%block title%}{{request.user.username}}{%endblock%}
{%block content%}
<main>
    <div>
        <h2>{{request.user.username}}</h2>
        <img src="{{request.user.profile.image.url}}" class="profile_img">
    </div>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{avatar_form}}
        <button type="submit">Сменить</button>
    </form>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{profile_form}}
        <button type="submit">Сменить</button>
    </form>
    <a href="{%url 'password_change_form'%}">Password change</a>
    <h2>Ваши П0СТЫ</h2>
    <section class="post_section">
        {%for post in posts%}
        <a href="{%url 'post' post.id%}">
            <div class="post">
                <img src="{{post.image.url}}" class="post_image">
                <p class="description">{{post.description|truncatewords:10}}</p>
                <h3><a href="{%url 'another_profile' post.author%}">{{post.author}}</a> {{post.likes.count}}
                    <a href="{%url 'like_post' post.id%}">
                        {%if user in post.likes.all%}
                        <img src="/static/images/FulLike.png" alt="" class="like">
                        {%else%}
                        <img src="/static/images/Like.png" alt="" class="like">
                        {%endif%}
                    </a>
                    {%if user == post.author%}
                    <a href="{%url 'post_delete' post.id%}">
                        <img src="/static/images/x.png" alt="" class="like">
                    </a>
                    {%endif%}
                </h3>
            </div>
        </a>
        {%endfor%}
    </section>
</main>
{%endblock%}